.fp-viewing-0,
.fp-viewing-3,
.fp-viewing-8,
.fp-viewing-9 {
  #fp-nav ul li a span,
  .fp-slidesNav ul li a span {
    background: #fff !important;
  }
}

body:not(.fp-viewing-0, .fp-viewing-3, .fp-viewing-8, .fp-viewing-9) #fp-nav ul li a span,
body:not(.fp-viewing-0, .fp-viewing-3, .fp-viewing-8, .fp-viewing-9) .fp-slidesNav ul li a span {
  background: #4a33f5 !important;
}

body:not(.fp-viewing-0, .fp-viewing-3, .fp-viewing-8, .fp-viewing-9) #fp-nav ul li .fp-tooltip,
body:not(.fp-viewing-0, .fp-viewing-3, .fp-viewing-8, .fp-viewing-9)
  .fp-slidesNav
  ul
  li
  .fp-tooltip {
  color: #4a33f5 !important;
}

.fp-watermark {
  display: none;
}

.down-arrow-icon {
  position: absolute;
  bottom: 1.5vh;
  width: 100%;
  margin: auto;
}

.section {
  display: block;
  flex-direction: unset;
  justify-content: unset;
  height: 100%;
  width: 100%;
}

.fp-overflow {
  height: 100%;
}
