APPLICATION VERSION DEPLOYMENT DETAILS
=======================================

BUILD_ID=$CODEBUILD_BUILD_ID
BUILD_INITIATOR=$CODEBUILD_INITIATOR
BUILD_RESOLVED_SOURCE_VERSION=$CODEBUILD_RESOLVED_SOURCE_VERSION
BUILD_START_TIME=$DATE
