@font-face {
   font-family: "Nunito-Regular";
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: url("Nunito-Regular.ttf"); /* IE9 Compat Modes */
   src: local("Nunito"),
      url("Nunito-Regular.ttf?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */ url("Nunito-Regular.ttf") format("woff2"),
      /* Super Modern Browsers */ url("Nunito-Regular.ttf") format("woff"),
      /* Modern Browsers */ url("Nunito-Regular.ttf") format("truetype"),
      /* Safari, Android, iOS */ url("Nunito-Regular.ttf#Nunito") format("svg"); /* Legacy iOS */
}

@font-face {
   font-family: "Nunito-Medium";
   font-style: normal;
   font-weight: 500;
   font-display: swap;
   src: url("Nunito-Medium.ttf"); /* IE9 Compat Modes */
   src: local("Nunito"),
      url("Nunito-Medium.ttf?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */ url("Nunito-Medium.ttf") format("woff2"),
      /* Super Modern Browsers */ url("Nunito-Medium.ttf") format("woff"),
      /* Modern Browsers */ url("Nunito-Medium.ttf") format("truetype"),
      /* Safari, Android, iOS */ url("Nunito-Medium.ttf#Nunito") format("svg"); /* Legacy iOS */
}

@font-face {
   font-family: "Nunito-Bold";
   font-style: normal;
   font-weight: 700;
   font-display: swap;
   src: url("Nunito-Bold.woff2"); /* IE9 Compat Modes */
   src: local("Nunito"),
      url("Nunito-Bold.woff2?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */ url("Nunito-Bold.woff2") format("woff2"),
      /* Super Modern Browsers */ url("Nunito-Bold.woff2") format("woff"),
      /* Modern Browsers */ url("Nunito-Bold.woff2") format("truetype"),
      /* Safari, Android, iOS */ url("Nunito-Bold.woff2#Nunito") format("svg"); /* Legacy iOS */
}
