.fp-viewing-0 #fp-nav ul li a span,
.fp-viewing-0 .fp-slidesNav ul li a span {
  background: #fff !important;
}

body:not(.fp-viewing-0) #fp-nav ul li a span,
body:not(.fp-viewing-0) .fp-slidesNav ul li a span {
  background: #4a33f5 !important;
}

body:not(.fp-viewing-0) #fp-nav ul li .fp-tooltip,
body:not(.fp-viewing-0) .fp-slidesNav ul li .fp-tooltip {
  color: #4a33f5 !important;
}

.down-arrow-icon {
  position: absolute;
  bottom: 50px;
  width: 100%;
  margin: auto;
}
