.videoContainer {
   border-radius: 7px 7px 0px 0px;
   height: 100vh;
   position: relative;
   width: 100%;
   background-color: black;
   display: flex;
   overflow: hidden;
   cursor: pointer;
   align-items: center;
   justify-content: center;
}

.videoMainContainer {
   position: relative;
   border-radius: 8px;
   overflow: hidden;
   height: 100vh;

   @media (min-width: 200px) and (max-width: 767px) {
      height: 100vh;
   }
}

.videoContainerPopup {
   height: 100%;
   position: relative;
   width: 100%;
   background-color: black;
}

.forwardbtn {
   z-index: 2;
   position: absolute;
   top: 48%;
   cursor: pointer;
   right: 25%;
   display: block;
}

.rewindbtn {
   z-index: 2;
   position: absolute;
   top: 48%;
   left: 25%;
   cursor: pointer;
   display: block;
}

.playButtomDiv {
   z-index: 1;
   cursor: pointer;
}

.metaContainer {
   display: flex;
   justify-content: space-between;
   padding: 20px;
   background: #ffffff;
   border: 1px solid #d9d9d9;
   box-sizing: border-box;
   border-radius: 0px 0px 7px 7px;
   column-gap: 40px;
}

.videoTitle {
   font-style: normal;
   font-weight: 700;
   overflow: hidden;
   font-size: 20px;
   line-height: 24px;
   letter-spacing: -1.05227px;

   color: #333333;
}

.videoBackIcon {
   position: absolute;
   top: 20px;
   left: 20px;
   z-index: 1;
   cursor: pointer;
   background: white;
   border-radius: 50%;
   height: 36px;
   width: 36px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.videoSettings {
   cursor: pointer;
   display: grid;
   grid-template-columns: 1fr;
   justify-content: right;
   align-items: center;
}

.videoSettings > div {
   text-align: center;
}

.languageContainer {
   position: relative;
}

.chooseLanguageContainer {
   z-index: 1;
   position: absolute;
   top: 0;
   left: 0;
   transform: translate(-10px, -30px);
   padding: 5vw;

   background: #ffffff;
   /* Light Shadow */

   box-shadow: 0px 0px 10px rgba(84, 84, 84, 0.1);
   border-radius: 8px;
}

.downloadPopup {
   text-align: center;
   position: absolute;
   color: white;

   background: #00000099;

   height: 100%;
   width: 100%;
   /* top: 50%; */
   left: 50%;
   left: 0;
   right: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 2;
}

@media only screen and (max-width: 767.98px) {
   .videoContainerPopup {
      height: 60vh;
   }

   .videoTitle {
      font-size: 16px;
   }

   .videoContainer {
      height: 60vh;
   }

   .playButtomDiv {
      width: 53.67px;
      height: 53.67px;
   }

   .videoTitle {
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
   }

   .durationViewsContainer {
      padding-left: 10px;
   }

   .videoSolutionHeader {
      margin-top: 60px;
   }
}
