html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fp-viewing-0 #fp-nav ul li a span,
.fp-viewing-0 .fp-slidesNav ul li a span {
  background: #fff !important;
}

body:not(.fp-viewing-0) #fp-nav ul li a span,
body:not(.fp-viewing-0) .fp-slidesNav ul li a span {
  background: #4a33f5 !important;
  opacity: 0.2;
}

body:not(.fp-viewing-0) #fp-nav ul li .fp-tooltip,
body:not(.fp-viewing-0) .fp-slidesNav ul li .fp-tooltip {
  color: #4a33f5 !important;
}

.down-arrow-icon {
  position: absolute;
  bottom: 50px;
  width: 100%;
  margin: auto;
}
